<div class="header-container">
  <h2>Gestión de Mascotas</h2>

  <button class="btn-add" (click)="openCreateModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<app-dynamic-table
  [columns]="columns"
  [data]="pets"
  [filters]="filters"
  [page]="page"
  [size]="size"
  [total]="total"
  [showActions]="true"
  [actions]="actions"
  (filterChange)="loadPets($event)"
  (pageChange)="onPageChange($event)"
  (sizeChange)="onSizeChange($event)"
  (actionClick)="handleAction($event)">
</app-dynamic-table>

<div class="modal-overlay" *ngIf="showCreateModal">
  <div class="modal">
    <h2>Registrar Mascota</h2>

    <div class="form-group">
      <label>Nombre</label>
      <input [(ngModel)]="selectedPet.name" />
    </div>

    <div class="form-group">
      <label>Especie</label>
      <input [(ngModel)]="selectedPet.species" />
    </div>

    <div class="form-group">
      <label>Raza</label>
      <input [(ngModel)]="selectedPet.breed" />
    </div>

    <div class="form-group">
      <label>Edad</label>
      <input type="number" [(ngModel)]="selectedPet.age" />
    </div>

    <div class="form-group">
      <label>Owner ID</label>
      <input type="number" [(ngModel)]="selectedPet.ownerId" />
    </div>

    <div class="modal-actions">
      <button class="btn-cancel" (click)="closeModals()">Cancelar</button>
      <button class="btn-primary" (click)="createPet()">Crear</button>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="showEditModal">
  <div class="modal">
    <h2>Actualizar Mascota</h2>

    <div class="form-group">
      <label>Nombre</label>
      <input [(ngModel)]="selectedPet.name" />
    </div>

    <div class="form-group">
      <label>Especie</label>
      <input [(ngModel)]="selectedPet.species" />
    </div>

    <div class="form-group">
      <label>Raza</label>
      <input [(ngModel)]="selectedPet.breed" />
    </div>

    <div class="form-group">
      <label>Edad</label>
      <input type="number" [(ngModel)]="selectedPet.age" />
    </div>

    <div class="modal-actions">
      <button class="btn-cancel" (click)="closeModals()">Cancelar</button>
      <button class="btn-primary" (click)="updatePet()">Guardar</button>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="showConfirmModal">
  <div class="confirm-card">
    <h3>
      {{ selectedPet?.enabled ? 'Desactivar Mascota' : 'Activar Mascota' }}
    </h3>

    <div class="confirm-actions">
      <button class="btn-secondary" (click)="closeModals()">Cancelar</button>
      <button class="btn-danger" (click)="confirmToggle()">
        {{ selectedPet?.enabled ? 'Desactivar' : 'Activar' }}
      </button>
    </div>
  </div>
</div>
